body{
  font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
}

.navbar{
  background-color: white;
  box-shadow: none;

  height: auto;
}

.nav-items li a{
  color: black;
  font-weight: 650;
  font-size: 17px;
  line-height: 30px;
  padding: 0;
  margin: 0 0 0 2rem;
  margin-top: 2.5rem;
}

.nav-items li a:hover{
  padding-bottom: -10rem;
  border-bottom: 4px solid #0a7cff;
  background-color: transparent;
}

.logo{
  height: 3rem;
  margin-top: 2rem;
}

/* Large Desktop */

.tagline{
  background: linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);
  text-align: left;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  word-break: keep-all;
  font-size: 90px;
  letter-spacing: -4px;
  font-weight: bold;
  height: 310px;
}

.messenger-text{
  text-align: left;
  color: #595959;
  font-size: 20px;
}

input[type=text]:not(.browser-default), input[type=password]:not(.browser-default){
  border-bottom: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]){
  border: none;
  -webkit-box-shadow: none;
    box-shadow: none;
}

.username{
  margin: 0 0 2rem 0;
  border-radius: 10px;
  height: 3rem;
  color: #595959;
  background-color: rgb(238, 238, 238);
}

.username.active {
  border: 2px solid #0088FF;
  border-radius: 10px;
}
.password{
  margin: -1rem 0 2rem 0;
  border-radius: 10px;
  height: 3rem;
  color: #595959;
  background-color: rgb(238, 238, 238);
}

.password.active{
  border: 2px solid #0088FF;
  border-radius: 10px;
}

.btn{
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  width: 110px;
  text-align: center;
  padding: .5rem 0rem 3rem 0;
  border: 1px solid #0088FF;
  background-color: #0a7cff;
  border-radius: 100px;
  color: white;
}


.btn:hover{
  cursor: pointer;
  background-color: #A033FF;
  border: 1px solid #A033FF;
}

.forgot{
  text-decoration: underline;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after{
  background-color: #0a7cff;
}

.icon-size img{
  height: 55px;
  margin-left: -1rem;
  margin-right: 1rem;
  
}

.mess-bg{
  height: 700px;
  margin: 4rem 0 0 1rem;
}

/* Medium devices */

.menu-icon{
  margin-top: 1.5rem;
}

.tagline-med{
  background: linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  letter-spacing: -2px;
  font-weight: bold;
  margin: 0;
  word-break: keep-all;
  height: 45px;
}

.messenger-text-med{
  text-align: center;
  color: #595959;
  font-size: 13px;
}

.username-med{
  margin: 0 0 2rem 0;
  border-radius: 10px;
  height: 3rem;
  color: #595959;
  background-color: rgb(238, 238, 238);
}

.username-med.active {
  border: 2px solid #0088FF;
  border-radius: 10px;
}
.password-med{
  margin: -1rem 0 2rem 0;
  border-radius: 10px;
  height: 3rem;
  color: #595959;
  background-color: rgb(238, 238, 238);
}

.password-med.active{
  border: 2px solid #0088FF;
  border-radius: 10px;
}

.row{
  margin: 0;
}

.btn-med{
  margin: -3rem 10rem 1rem 10rem;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  width: 140px;
  text-align: center;
  padding: 1rem 3rem 1rem 3rem;
  border: 1px solid #0088FF;
  background-color: #0a7cff;
  border-radius: 100px;
  color: white;
}


.btn-med:hover{
  cursor: pointer;
  background-color: #A033FF;
  border: 1px solid #A033FF;
}

.forgot-med{
  margin: 0 10rem;
  text-decoration: underline;
}


.icon-size-med img{
  height: 30px;
}



/* Small devices */

.menu-icon{
  margin-top: 1.5rem;
}

.tagline-small{
  background: linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  letter-spacing: -2px;
  font-weight: bold;
  margin: 0;
  word-break: keep-all;
  height: 30px;
}

.messenger-text-small{
  text-align: center;
  color: #595959;
  font-size: 12px;
}

.username-small{
  margin: 0 0 2rem 0;
  border-radius: 10px;
  height: 3rem;
  color: #595959;
  background-color: rgb(238, 238, 238);
}

.username-small.active {
  border: 2px solid #0088FF;
  border-radius: 10px;
}
.password-small{
  margin: -1rem 0 2rem 0;
  border-radius: 10px;
  height: 3rem;
  color: #595959;
  background-color: rgb(238, 238, 238);
}

.password-small.active{
  border: 2px solid #0088FF;
  border-radius: 10px;
}

.row{
  margin: 0;
}

.btn-small{
  margin: -1rem 4rem 1rem 4rem;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  width: 100px;
  height: 50px;
  text-align: center;
  border: 1px solid #0088FF;
  background-color: #0a7cff;
  border-radius: 100px;
  color: white;
}


.btn-small:hover{
  cursor: pointer;
  background-color: #A033FF;
  border: 1px solid #A033FF;
}

.forgot-small{
  margin: 0 2rem;
  text-decoration: underline;
}

.icon-size-small{
  margin-left: 1rem;
}

.icon-size-small img{
  height: 30px;
}
